<header class="site-header">
  <div class="wrapper">
    {%- assign no_display_categories = "twitter_archive" | split: "," -%}
    {%- assign categories = site.categories | sort -%}
    <a class="site-title" rel="author" href="/{{ relative_url }}">{{ site.title | escape }}</a>
    <nav class="site-nav">
      <a class="page-link" href="/search">
        <img src="/assets/search.png" width="20"/>
      </a>

      <div class="nav-dropdown-container">
        <div class="nav-dropdown-button" onclick="toggleDropdown()">posts ▾</div>

        <div id="categoryDropdown" class="dropdown">
          <div class="dropdown-menu">
            <a href="/all">all</a>
          </div>
          {% for category in categories %}
            {%- unless no_display_categories contains category[0] -%}
              <div class="dropdown-menu">
                <a href="/{{ category[0] }}">{{ category[0] }}</a>
              </div>
            {%- endunless -%}
          {% endfor %}
        </div>
      </div>
    </nav>
  </div>
</header>

<script>
  function toggleDropdown() {
    const el = document.getElementById("categoryDropdown");
    el.style.display = (el.style.display === "block") ? "none" : "block";
  }

  // 영역 밖 클릭 시 드롭다운 닫기
  document.addEventListener("click", function(e) {
    const dropdown = document.getElementById("categoryDropdown");
    const button = document.querySelector(".nav-dropdown-button");

    // 버튼 클릭이 아니라면 닫기
    if (!button.contains(e.target)) {
      dropdown.style.display = "none";
    }
  });
</script>