  /**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    right: $spacing-unit * 0.5;
    background-color: $background-color;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * 0.5;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit * 0.5;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit * 0.5;
  padding-left: $spacing-unit * 0.5;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/*
 * Dropdown
 */

.site-nav {
  display: flex;
  flex-direction: row; /* 기본 가로 나열 */
  flex-wrap: nowrap;
  align-items: center;     /* baseline 문제 해결 */
  justify-content: flex-start;
}

.nav-dropdown-container {
  position: relative;
  display: inline-block;
}

.nav-dropdown-button {
  color: black;
  cursor: pointer;
  user-select: none;
}

.dropdown {
  background: white;
  color: black;
  display: none;
  position: absolute;
  right: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-width: 120px;
  line-height: 40px;
}

.dropdown a {
  display: block;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

.dropdown :hover {
  background-color: #eee;
}

.dropdown-menu {
  text-align: right;
  padding-right: 18px;
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit * 0.5 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.5);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit * 0.2;
    display: flex;
  }
}

.post-meta {
  flex: 0 0 130px;
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
}

.post-tag {
  color: inherit;
  background-color: #ededed;
  font-size: $small-font-size;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/*
 * Cards
 */

.card-grid {
  column-count: 1;
  column-gap: 24px;
  gap: 1rem;
}

.card {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 1rem;
  background: #fff;
  break-inside: avoid;
  margin-bottom: 20px;
}

@media (min-width: 900px) {
  .card-grid {
    column-count: 2;
  }
}

.card-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-keyword {
  color: #6b7280;
  font-size: 0.9rem;
  margin-bottom: 10px;
}