---
layout: default
---

<script src="/assets/js/floating.js" defer></script>
<button id="collage-reset-btn" class="collage-control">
  위치 초기화
</button>
<!-- <button id="collage-debug-btn" class="collage-control">
  현재 좌표 보기
</button> -->
<div class="collage-canvas">
  {% for item in site.data.collage %}
    <div class="collage-item collage-{{ item.type }}" data-id="{{ item.id }}" style="
       left: {{ item.x }}px;
       top: {{ item.y }}px;
       width: {{ item.width }}px;
       transform: rotate({{ item.rotation }}deg);
     ">
      
      {% if item.type == "image" %}
        <img src="{{ item.image }}" alt="">
      {% elsif item.type == "note" %}
        <div class="collage-note">
          {{ item.content | markdownify }}
        </div>
      {% endif %}
      <a
        class="collage-link"
        target="_blank"
        style="transform: rotate({{ item.rotation | times: -1 }}deg);"
        href="{{ item.url }}">
        <span class="collage-link-icon">
          {{ item.emoji }}
        </span>
      </a>
    </div>
  {% endfor %}
</div>