---
layout: default
---
<div class="micros-timeline">

  {% for micro in site.micro reversed %}
  <div class="micro">
    <div class="micro-header">
      <span class="micro-date">
        {% if micro.has_time %}
          {{ micro.date | date: "%Y.%m.%d %H:%M" }}
        {% else %}
          {{ micro.date | date: "%Y.%m.%d" }}
        {% endif %}
      </span>
    </div>

    <div class="micro-body">
      {{ micro.content }}
    </div>

    <div class="micro-footer">
      <!-- future: icons or metadata -->
    </div>
  </div>
  {% endfor %}

</div>