---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {%- if page.subtitle -%}
      <h3>{{ page.subtitle }} </h3>
    {%- endif -%}
    <p class="post-meta">
      {%- if page.pin -%}
        <time datetime="{{ page.last-modified-date | date_to_xmlschema }}" itemprop="dateLastModified">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          Last modified : {{ page.last-modified-date | date: date_format }}
        </time>
      {%- else -%}
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {% if page.disable_search %}
      <aside data-pagefind-ignore="all">
        {{ content }}
      </aside>
    {% else %}
      {{ content }}
    {% endif %}
  </div>

  {% if page.tags %}
    <ul class="tag-collection">
    {% for tag in page.tags %}
      <li class="tag-cell">
        <a href="{{ '/tags#' | append: tag[0] | relative_url }}">
          <span class="tag-name">{{ tag }}</span>
        </a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- include iine.html -%}

  <div class="page-navigation">
    {% if page.previous.url %}
      <a class="page-navigation-prev" href="{{ page.previous.url }}">
        <span class="page-navigation-title">&laquo; {{ page.previous.title }}</span>
      </a>
    {% endif %}
    {% if page.next.url %}
      <a class="page-navigation-next" href="{{ page.next.url }}">
        <span class="page-navigation-title">{{ page.next.title }} &raquo;</span>
      </a>
    {% endif %}
  </div>
</article>
