---
layout: default
permalink: /tags/
---

<main class="tags-index">

  {% assign tags = site.tags | sort %}
  {% for tag in tags %}
    <section class="tag-section" id="{{ tag[0] }}">
      <h2 class="tag-name">
        #{{ tag[0] }}
      </h2>

      <ul class="post-list">
        {% assign tagged_posts = tag[1] | sort: "date" | reverse %}
        {%- for post in tagged_posts -%}
        <li class="post-item">
          <span class="post-item-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
          <a class="post-item-link" href="{{ post.url | relative_url }}">
            <span class="post-item-title">{{ post.title | escape }}</span>
          </a>
        </li>
      {%- endfor -%}
      </ul>
    </section>
  {% endfor %}
</main>